*,
::before,
::after {
    box-sizing: border-box;
}   

body {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    line-height: 1.6;
}

h1 h2 h3 { 
    line-height: 1.2;
}

 .container {
    width: 90%;
    max-width: none;
    margin: 0 auto;
}

nav {
    background: #176161;
    color: #fff;
    
}

 .inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
 }
  
.logo {
    font-size: 1.2rem;
}

.nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    line-height: 1;
}

.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}

.nav-links.active {
  display: flex;
}

.page {
    display: grid;
    gap: 4rem;
}

 .hero {
    padding: clamp(4rem, 10vw, 6rem) 0;
    background: #069494;
    color: #fff;
    text-align: center;
 }

    .hero h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .btn {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background: #fff;
        color:#111;
        text-decoration: none;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

.features {
    padding: 3rem 0;
}

  .features .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .features h3 {
    margin-bottom: 0.5rem;
  }


.cards {
    padding: 2rem 0;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    padding: clamp(1rem, 2vw, 2rem);
    border: 1px solid #ddd;
    border-radius: 6px;
     background: #dafdff;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}


.cta {
    padding: 3rem 0;
    background: #9EFCFF;
    text-align: center;
}
.cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

@media (min-width: 360px) {
    .hero h1 {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero .container {
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 900px) {
    .features .container {
        gap: 5rem;
    }

 }

 .features .container {
    flex-direction: row;
 }

 .contact {
  padding: clamp(4rem, 8vw, 6rem) 0;
}

.contact-box {
  text-align: center;
}

.contact-details {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.contact-item h3 {
  margin-bottom: 0.5rem;
}

.contact-item a {
  color: teal;
  font-weight: 600;
  text-decoration: none;
}
